@import '../../stylesheets/colorPalette.scss';

.contactContainer {
  margin-top: 3vh;
  padding-bottom: 6.7vh;
  background-color: $main-light;
  color: $font-light;
  width: 100%;
}

.contactHeader {
  margin-top: 0.3em;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.6em;
  color: $font-light;
}

.pink {
  background-color: pink;
}

.blue {
  background-color: blue;
}

.rowContainer {
  width: 100%;
}

.contactCard {
  max-width: 300px;
  padding-left: .7em;
}

.contactImageHolder {
  width: 100%;
  padding: 2%;
  background-color: rgba(0,0,0,0.2);
}

.contactImageCaption {
  width: 100;
  padding: 2%;
  background-color: rgba(0,0,0,0.5);
  color: $font-light;
}

.svgHolder {
  height: 200px;
  width: 200px;
  display: inline-block;
}
