.heroContainer {
  height: 90vh;
  background-image: url('/assets/heroBackground20003000.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
}

.textContainer {
  width: 100%;
  font-size: 5em;
  color: white;
  left: 0px;
  top: 0px;
}
