@import '../../stylesheets/colorPalette.scss';

.heroContainer {
  height: 90vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('/assets/heroBackground20003000.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
}

.textContainer {
  width: 100%;
  font-size: 5em;
  color: $font-light;
  left: 0px;
  top: 0px;
}

.resumeLink {
  display: inline-block;
  color: $font-light;
}
