@import '../../stylesheets/colorPalette.scss';

.projectSection {
  background-color: $main-dark;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.projectContainer {
  width: 100%;
  height: 100%;
}

.triangleRow {
  height: 12.5vh;
  background-color: $main-dark;
}

.triangleRowTop {
  height: 12.5vh;
}

.triangleHolder {
  height: 100%;
  display: flex;
  align-items: start;
}

.triangle {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right bottom, $main-light 50%, transparent 50%);
}

.bottomTriangle {
  background: linear-gradient(to bottom right, transparent 50%, $main-light 50%);
  background-color: $main-dark;
}

.projectsHeaderContainer {
  font-size: 3em;
  color: $font-light;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.projectsHeader {
  width: 100%;
  margin-right: 5%;
  margin-bottom: 10px;
  font-family: 'Quarto';
  letter-spacing: .075em;
  font-weight: 100;
}

.contentRow {
  min-height: 400px;
  margin-top: .66vh;
}

@media (min-width: 1310px) {
  .contentRow {
    padding: 0 2.5%;
  }
}

.card {
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translate(-2%, -2%);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5) !important;
}

.cardCol {
  min-width: 400px;
}

.contentHolder {
  display: flex;
  flex-wrap: wrap;
}

.buttonProjOverlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.66);
}

.icon-github::before {
  content: "\eab0";
}

.projCard {
  color: $font-light;
}
