/*
cssdrive many colors from image: http://www.cssdrive.com/imagepalette/index.php
picataculus from image: http://www.pictaculous.com/
adobe color blues and beige: https://color.adobe.com/Copia-de-Plastic-Pool-color-theme-9747739/
*/

$main-dark: #13141A;
$main-light: #084470;
$font-light: beige;
